<h1>Here is a list of Circuits based on your search!</h1>
<% data.forEach((obj) => { %>
    <h1><%= obj.name %></h1>
    <img src="<%= obj.image %> ">
    <p>Nationality: <%= obj.nationality %></p>
    <p>Birth Date: <%= obj.birthdate %></p>
    <% }) %> 