<h2>Your Favorite Drivers</h2>

<% faveDrivers.forEach((obj) => { %>
    <p><%= obj.name %> </p>
    <form action="/faveDrivers/<%= obj.name %>?_method=DELETE" method="POST">
        <input class="btn-danger" type="submit" value="Remove from favs" >
        <input type="hidden" value="<%= obj.name %>">
    </form>
<% }) %>