<h1>Driver Search</h1>
<p>Search for a driver below...</p>
<form action="/driverSearch" method="GET">
    <label for="searchBar">Driver Name:</label>
    <input type="text" name="q" id="searchBar">
    <input type="submit">
</form>
<h1>Team Search</h1>
<p>Search for a team below...</p>
<form action="/teamSearch" method="GET">
    <label for="searchBar">Team Name:</label>
    <input type="text" name="q" id="searchBar">
    <input type="submit">
</form>
<h1>Circuit Search</h1>
<p>Search for a circuit below...</p>
<form action="/circuitSearch" method="GET">
    <label for="searchBar">Circuit Name:</label>
    <input type="text" name="q" id="searchBar">
    <input type="submit">
</form>