<h1>Formula One Stats</h1>


<container class="page">
    <div class="driver">
        <h2>Driver Search</h2>
        <p>Search for a driver below...</p>
        <form action="/driverSearch" method="GET">
            <label for="searchBar">Driver Name:</label>
            <input type="text" name="q" id="searchBar">
            <input type="submit">
        </form>
    </div>
    <div class="team">
        <h2>Team Search</h2>
        <p>Search for a team below...</p>
        <form action="/teamSearch" method="GET">
            <label for="searchBar">Team Name:</label>
            <input type="text" name="q" id="searchBar">
            <input type="submit">
        </form>
    </div>
    <div class="circuit">
        <h2>Circuit Search</h2>
        <p>Search for a circuit below...</p>
        <form action="/circuitSearch" method="GET">
            <label for="searchBar">Circuit Name:</label>
            <input type="text" name="q" id="searchBar">
            <input type="submit">
        </form>
    </div>
</container>