<h1>Formula One Stats</h1>


<container class="page">
    <div class="driver">
        <h2>Driver Search</h2>
        <p>Search for a driver below...</p>
        <form class="driverForm" action="/driverSearch" method="GET">
            <label for="searchBar">Driver Name:</label>
            <input type="text" name="q" id="searchBar">
            <input type="submit">
        </form>
    </div>
    <div class="team">
        <h2>Team Search</h2>
        <p>Search for a team below...</p>
        <form class="teamForm" action="/teamSearch" method="GET">
            <label for="searchBar">Team Name:</label>
            <input type="text" name="q" id="searchBar">
            <input type="submit">
        </form>
    </div>
    <div class="circuit">
        <h2>Circuit Search</h2>
        <p>Search for a circuit below...</p>
        <form  class="circuitForm" action="/circuitSearch" method="GET">
            <label for="searchBar">Circuit Name:</label>
            <input type="text" name="q" id="searchBar">
            <input type="submit">
        </form>
    </div>
</container>
<div class="driver">
    <h2>Driver Rankings</h2>
    <p>Enter a year below</p>
    <form class="rankingsForm" action="/driverRankings" method="GET">
        <label for="searchBar">Year:</label>
        <input type="text" name="q" id="searchBar">
        <input type="submit">
    </form>
</div>